.footerCon{
    height: 150px;
    width: 100%;
    background: #3C3D37;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
    border-radius: 30px 30px 0 0;
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: center;
}
.footerCon span{
    color: #fff;
    font-weight: 200;
}
.footerCon span:nth-child(3),
.footerCon span:nth-child(4),
.footerCon span:nth-child(5),
.footerCon span:nth-child(6){
    height: 1rem;
    width: 1rem;
}

@media (max-width: 850px){
     .footerCon{
        position: absolute;
        bottom: 0;
        height: 170px;
        display: grid;
        width: 100%;
        top: 165vh;
        border-radius: 0;
        gap: 5px;
     }
     .footerCon span:nth-child(1),
     .footerCon span:nth-child(2){
        font-size: 0.8rem;
        position: absolute;
     }
     .footerCon span:nth-child(1){
        left: 2rem;
     }
     .footerCon span:nth-child(2){
        right: 2rem;
     }
     .footerCon span:nth-child(3),
     .footerCon span:nth-child(4),
     .footerCon span:nth-child(5),
     .footerCon span:nth-child(6){
        position: absolute;
        bottom: 2rem;
     }
     .footerCon span:nth-child(3){
        left: 2rem;
     }
     .footerCon span:nth-child(4){
        left: 4rem;
     }
     .footerCon span:nth-child(5){
        left: 6rem;
     }
     .footerCon span:nth-child(6){
        left: 8rem;
     }
}